@import 'tailwindcss';

@theme {
  --breakpoint-xs: 480px;
}

.bg-gradient {
  background: #5b483a;
  background: linear-gradient(to right, rgba(91, 72, 58, 1) 0%, rgba(38, 36, 37, 1) 100%);
}

/* ======================================== */
/* This is for menu links */

.links {
  font-size: 15px;
  line-height: 1.6;
  color: #cdcdcd;
}

.links:hover {
  color: #fafafa;
}

.links-on-hover:hover::after {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  background-color: #f1cdb3;

  /* Animation */
  animation-name: line;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* ======================================== */
